/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

@import url(https://fonts.googleapis.com/css?family=Roboto:300|Megrim);

body {
  /*background: linear-gradient(
    rgba(20,20,20, .4), 
    rgba(20,20,20, .4)),
    url(https://cdn.glitch.com/0a9a192d-71ff-4aca-92d1-7d74096c7122%2Fbackground_2.jpg?1494786918869);*/
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.countdown-wrapper {
  position: relative;
  height: 600px;
}

.countdown-end {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 100px;
  color: #fff;
  opacity: .8;
  text-align: center;
}

#countdown, #countdown-text {
    width: 700px;
    font-family: 'Megrim', sans-serif;
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.countdown {
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  font-size: 142px;
  color: #fff;
  opacity: .7;
  letter-spacing: -4px;
}

.counter-text {
  font-family: 'Megrim', sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: #f44242;
  opacity: .8;
  text-align: center;
}

.timer {
  display: inline-block;
  margin: 10px;
}


#background_cycler {
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
#background_cycler img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}
#background_cycler img.active {
    z-index: 3;
}